.contact {
  clear: both;
  width: 100%;
  overflow: auto;
  .container-fluid {
    padding: 100px 0;
    background-color: $dark-grey;
    color: $white;
  }
  .contact-container {
      margin-top: 15px;
    @include media-breakpoint-up(md) {
      margin-top: 40px;
    }
    .contact-details {
      display: inline-block;
      padding: 10px 0 10px 40px;
      background-repeat: no-repeat;
      background-position: left;
      background-size: 30px;
      font-size: 22px;
      text-decoration: none;
      color: $white;
      &.email {
        background-image: url("/assets/envelope.svg");
      }
      &.phone {
        background-image: url("/assets/phone.svg");
      }
    }
  }
  .social-container {
    @include media-breakpoint-up(md) {
      margin-top: 45px;
    }
    .social {
      display: inline-block;
      padding-top: 40px;
      @include media-breakpoint-up(md) {
        padding-top: 15px;
      }
      .icon {
        margin: 0 10px;
        width: 60px;
        height: auto;
      }
    }
  }
}