body {
  margin: 0;
  padding: 0;
  font-size: $global;
  font-family: $font-family;
  text-align: center;
  color: $black;
}

.heading-1 {
  font-size: $heading-1;
  font-weight: bold;
  margin: 0;
  padding: 25px 0;
}

.heading-2 {
  font-size: $heading-2;
  font-weight: bold;
  margin: 0;
  padding: 25px 0;
}

.heading-3 {
  font-size: $heading-3;
  font-weight: normal;
  margin: 0;
  padding: 25px 0;
}

.body-1 {
  font-size: $body-1;
}

.body-2 {
  font-size: $body-2;
}

.white {
  color: $white;
}

.link-default {
  text-decoration: none;
}

.box-small {
  padding-top: 25px;
  padding-bottom: 25px;
}

.tile {
  z-index: -1;
}