// Colours
$black             : rgb(0, 0, 0);
$black-overlay     : rgba(0, 0, 0, 0.7);
$white             : rgb(255, 255, 255);
$yellow            : rgb(248, 226, 92);
$dark-turquoise    : rgb(108, 207, 151);
$light-turquoise   : rgb(196, 233, 192);
$grey              : rgb(169, 169, 169);
$dark-grey         : rgb(36, 35, 35);

// Font sizes
$global      : 16px;
$heading-1   : 30px;
$heading-2   : 26px;
$heading-3   : 22px;
$body-1      : 20px;
$body-2      : 18px;

// Font family
$font-family: "Trebuchet MS", Helvetica, sans-serif;